{% extends 'template.html' %}

{% block content %}

<script>

  var path = window.location.pathname;
  var path_array = path.split('/');
  var domain = path_array[2];

  $(document).ready(function(){
    Amass();
  });
  
  function Amass() {

    document.getElementById("amass").style.width="50%";

    $.ajax({
      url: '/programs/amass?target=' + domain,
      type: 'GET',

      success: function(data, status) {
        document.getElementById("amass").style.width="100%";
      },

      error: function(data, status) {
        //console.log(data);
      }
    });            

  }

</script>

<h1>Reconnaissance</h1>

<p></p>
  
<div>Amass:</div>

<div class="progress">
  <div id="amass" class="progress-bar" role="progressbar" style="width: 25%" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<a style="display: none;" href="">Amass result</a>
<a href="">Amass result</a>

<p></p>

<div>Nmap:</div>

<div class="progress">
  <div id="nmap" class="progress-bar" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<p></p>

<div>Screenshot:</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
</div>




{% endblock %}